<!-- <div class="footer">
  <h2>Contact Us</h2>
  <div class="email">
  	<p><b>structenlab@gmail.com</b></p>
  </div>
  	<div class="square first">
 		<p><b>Office Address:</b>
 			<br>
 			1st Floor, Patel Plaza,<br>
 			Beed Bypass, Opp. Patel Lawns,<br>
 			Aurangabad - 431001. <br>
 		</p>
 		<p><b>8888755750 / 9860099120</b></p>
  	</div>
  	<div class="square second">
  		<p><b>Lab Address:</b> </p>
 		  <p>PL No. 100,Gut No.26,</p>
 		  <p>Beside Public School,</p>
 		  <p>Beed Bypass Road, Aurangabad</p>
 	<p><b>8275938022 / 8329170509</b></p>
  	</div>
</div> -->
<div class="container-fluid footer">
  <div class="row title">
    <h2 class="col-sm">Contact Us</h2>
  </div>
  <div class="row email">
    <p class="col-sm"><b>structenlab@gmail.com</b></p>
  </div>
  <div class="row">
    <div class="col-sm">
      <p><b>Office Address:</b>
        <br>
        1st Floor, Patel Plaza,<br>
        Beed Bypass, Opp. Patel Lawns,<br>
        Aurangabad - 431001. <br>
        <b>8888755750 / 9860099120</b>
      </p>
    </div>
    <div class="col-sm lab-address">
      <p><b>Lab Address:</b>
        <br>
        PL No. 100,Gut No.26,<br>
        Beside Public School,<br>
        Aurangabad - 431001.<br>
        <b>8275938022 / 8329170509</b>
      </p>
    </div>
  </div>
</div>
