<div class="footer">
  <h2>Contact Us</h2>
  <div class="email footer">
  	<p><b>structenlab@gmail.com</b></p>
  </div>
  	<div class="square first footer">
 		<p><b>Office Address:</b>
 			<br>
 			1st Floor, Patel Plaza,<br>
 			Beed Bypass, Opp. Patel Lawns,<br>
 			Aurangabad - 431001. <br>
 		</p>
 		<p><b>8888755750 / 9860099120</b></p>
  	</div>
  	<div class="square second footer">
  		<p><b>Lab Address:</b> 
  			<br>
 		PL No. 100,Gut No.26, <br>
 		Beside Public School, <br>
 		Beed Bypass Road, Aurangabad <br>
 	</p>
 	<p><b>8275938022 / 8329170509</b></p>
  	</div>
</div>
